body {
  background-color: black;
  color: white;
}

.midcolumn {
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content:center;
}

.rightcolum {
  margin-left: auto; 
  margin-right: 0;
}

.clicked {
  color: salmon;
}

.hidden {
  display: none;
}